@page "/about_me"

@using MudBlazor

<style>
	.post {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		border-radius: 10px;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
		padding: 3%;
		margin-bottom: 1%;
		background-image: url('images/Me.jpg');
		background-size: cover;
	}

	.text {
		font-size: 1.5rem;
		border-radius: 10px;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
		background-color: rgba(255, 255, 255, 0.5);
		color: black;
	}
</style>

<div class="post">
	<div class="text">
		<h1>Chi sono?</h1>
		<p>
			Ciao a tutti gli appassionati di cani! Sono CuoreDiCane, l'anima dietro il blog "Storie di Coda".
			Prima di immergerci nel mondo di coda e zampette, vorrei condividere con voi un po' di me e del
			percorso che mi ha portato a creare questo spazio dedicato all'amore incondizionato che solo i cani sanno donare.
			Fin dall'infanzia, ho avuto la fortuna di condividere la mia vita con cani straordinari,
			ma la mia vera consapevolezza del bisogno di un impegno responsabile verso i nostri amici
			a quattro zampe è cresciuta durante i miei anni di volontariato presso una clinica veterinaria.
		</p>
		<h3>La mie esperienza da veterinario</h3>
		<p>
			Ogni giorno, varcando la soglia di quel luogo di cura e guarigione, mi trovavo di fronte a storie
			toccanti di cani che avevano bisogno di aiuto.
			Come volontario, ho assistito a momenti di gioia e tristezza, ma soprattutto ho imparato quanto
			sia fondamentale l'educazione dei proprietari nel garantire il benessere dei loro amici pelosi.
			Ho visto cani soffrire per malattie evitabili causate da una cattiva alimentazione, e ho vissuto
			il cuore spezzato di chi ha perso il proprio compagno a causa di cure inadeguate o mancanza di informazioni.
			Ho anche visto cani che hanno superato le loro difficoltà e hanno trovato una nuova casa grazie all'amore
			e alla dedizione di persone che hanno deciso di adottarli.
			Durante i miei anni di volontariato presso una clinica veterinaria,
			ho vissuto un episodio che ha segnato profondamente il mio impegno
			nei confronti del benessere animale.
		</p>
		<h3>La storia di Rocky</h3>
		<p>
			Un giorno, è arrivato nella clinica un dolce cane di nome Rocky, gravemente malato a causa di una dieta sbilanciata e carenze alimentari.
			Durante il periodo di recupero, ho visto il coraggio e la determinazione di
			Rocky nel superare le difficoltà. I suoi padroni erano affranti dal rimorso,
			ma al contempo desideravano apprendere e impegnarsi per garantire che nulla
			del genere potesse accadere di nuovo. Hanno chiesto consigli su una corretta
			alimentazione, sulle visite veterinarie regolari e su come costruire una relazione
			più consapevole con il loro amico peloso.
			La storia di Rocky è diventata una fonte di ispirazione per me e ha confermato
			l'importanza di educare gli amanti dei cani sulla responsabilità che comporta
			l'essere genitori di animali domestici. È un monito su quanto le nostre azioni
			quotidiane possano avere un impatto duraturo sulla salute e sulla felicità dei
			nostri compagni pelosi.
		</p>
		<h3>Perchè ho iniziato il blog</h3>
		<p>
			"Storie di Coda" si propone di essere non solo un luogo di condivisione di esperienze
			e consigli pratici, ma anche un rifugio virtuale dove possiamo imparare dagli errori
			passati, celebrare i successi e costruire una comunità che mette al centro il benessere
			e l'amore per i cani.
			Vi invito a esplorare il blog, a partecipare alle discussioni e a contribuire con le
			vostre storie. Insieme possiamo creare un ambiente in cui ogni cane possa vivere una vita
			felice e sana. Grazie per essere qui e per fare parte di questa straordinaria avventura canina.
		</p>
	</div>
</div>
