@page "/consigli"

@inject HttpClient Http

@using Blog.Models

@using Microsoft.Extensions.Hosting

@using MudBlazor

@using System.Net.Http.Json
@using System.Net.Http
@using System.Threading.Tasks

@using static Blog.Pages.Home

<style>
	.home {
		margin-top: 90px;
		margin-left: 40px;
		background: linear-gradient(to top right, darkgreen, forestgreen, darkolivegreen, limegreen);
		margin-bottom: 30px;
		box-shadow: 0 0 50px rgba(0, 0, 0, 1);
		height: 500px;
		width: 350px;
		color: #ffffff;
	}
</style>

<MudText Typo="Typo.h1" Style="color:white; margin-left: 560px; margin-top:100px; margin-bottom:50px; text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white">🐾Consigli🐾</MudText>

@if (posts != null)
{
	<MudGrid Style="display: grid; grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));">
		@foreach (var post in posts)
		{
			@if (post.Type == "Consigli")
			{
				<a href="/@post.Id" style="text-decoration:none">
					<MudItem xs="12" Class="home">
						<MudImage Src="@post.Url" Style="width:350px"></MudImage>
						<MudCardContent Style="color:lime; margin-left:5px">
							@post.Title
						</MudCardContent>
						<MudCardContent Style="color:#FFFFFF; margin-left:5px; margin-right:5px">
							@(post.Description.Length > 100 ? post.Description.Substring(0, 100) + "..." : post.Description)
						</MudCardContent>
						<MudCardActions>
							<MudText Style="color:goldenrod; float:right; margin-right:5px">Continua a leggere--></MudText>
						</MudCardActions>
					</MudItem>
				</a>
			}
		}
	</MudGrid>
}
else
{
	<MudText Typo="Typo.h1" Style="color:white; margin-left: 500px; margin-top:50px; margin-bottom:50px;">Loading...</MudText>
}

@code {
	private Post[]? posts;

	protected override async Task OnInitializedAsync()
	{
		posts = await Http.GetFromJsonAsync<Post[]>("api/Post");
	}
}
