@using MudBlazor

<nav class="navbar navbar-expand-lg navbar-light fixed-top" style="background: linear-gradient(to top right, forestgreen, darkgreen);">
	<MudAppBar Color="Color.Dark" Fixed="true">
		<MudPaper Width="250px" Class="py-3" Elevation="1">
			<MudNavMenu style="display: flex; text-decoration: none; color: #000000">
				<MudLink Href="/" style="flex: 1; text-decoration: none; color: #FFFFFF; margin-bottom:5px; margin-left: 30px">Benvenuti</MudLink>
				<MudLink Href="/home" style="flex: 1; text-decoration: none; color: #FFFFFF; margin-bottom:5px; margin-left: 30px">Home</MudLink>
				<MudLink Href="/consigli" style="flex: 1; text-decoration: none; color: #FFFFFF; margin-bottom:5px; margin-left: 30px">Consigli</MudLink>
				<MudLink Href="/diario" style="flex: 1; text-decoration: none; color: #FFFFFF; margin-bottom:5px; margin-left: 30px">Diario</MudLink>
				<MudLink Href="/giochi" style="flex: 1; text-decoration: none; color: #FFFFFF; margin-bottom:5px; margin-left: 30px">Giochi</MudLink>
				<MudLink Href="/accessori" style="flex: 1; text-decoration: none; color: #FFFFFF; margin-bottom:5px; margin-left: 30px">Accessori</MudLink>
				<MudLink Href="/about_me" style="flex: 1; text-decoration: none; color: #FFFFFF; margin-bottom:5px; margin-left: 30px">About</MudLink>
			</MudNavMenu>
		</MudPaper>
	</MudAppBar>
</nav>
