/* _content/Blog/Shared/MainLayout.razor.rz.scp.css */
.page[b-l8awx6406m] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-l8awx6406m] {
    flex: 1;
}

h1[b-l8awx6406m], h2[b-l8awx6406m], h3[b-l8awx6406m], h4[b-l8awx6406m], h5[b-l8awx6406m], h6[b-l8awx6406m] {
    font-family: Oldenburg;
    font-weight: bold;
}

p[b-l8awx6406m] {
    font-family: Josefin Slab;
}

.footer[b-l8awx6406m] {
    bottom: 0;
    width: 100%;
    background-color: #f8f9fa;
    text-align: center;
    padding: 10px 0;
}

.material-icons[b-l8awx6406m] {
    font-size: 24px;
    padding: 0 10px;
}
/* _content/Blog/Shared/NavMenu.razor.rz.scp.css */
.navbar[b-xnnuo1jkhh] {
    right: -100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    transition: all 0.45s ease;
    background-color: #f8f9fa;
}

#navbar[b-xnnuo1jkhh] {
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    padding: 10px;
}

.nav-left[b-xnnuo1jkhh], .nav-center[b-xnnuo1jkhh], .nav-right[b-xnnuo1jkhh] {
    display: flex;
}

.nav-center[b-xnnuo1jkhh] {
    justify-content: center;
    flex-grow: 0.5;
    column-gap: 7.4rem;
}

.link[b-xnnuo1jkhh] {
    text-decoration: none;
}

.nav-left[b-xnnuo1jkhh] {
    font-family: Oldenburg;
    font-weight: bold;
}
